<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}" style="font-family: 'Playfair Display', serif;">
            <i class="fas fa-leaf text-success"></i> Hotel Pegaso
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                        href="{% url 'index' %}" style="font-family: 'Playfair Display', serif;">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'rooms' %}active{% endif %}"
                        href="{% url 'rooms' %}" style="font-family: 'Playfair Display', serif;">
                        <i class="fas fa-bed"></i> Camere
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manage_booking' %}"
                        style="font-family: 'Playfair Display', serif;">
                        <i class="fas fa-calendar-alt"></i> Gestisci Prenotazione
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>